

body {
  
  background-color: #9f7897;
  margin: 10% 15%;
  font-family: Century gothic, sans-serif;
 
}

h1{
  color: #ebc24c;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px #b4825d;
  border-bottom: 3px solid #9c6c6c;
}

.name {
  padding-left: 10px;
}

.info {
  color: white;
  text-align: center;
}

.edu{
  color: #ebc24c;
  text-decoration-line: underline;
  text-shadow: 0.5px 0.5px #b4825d;
  padding-left: 15px;
  background-color: #7c4c73;
  border-top: 2px solid #9c6c6c;
  border-bottom: 2px solid #9c6c6c;
}

.school {
  border: 2px solid #9c6c6c;
  padding-left: 5px;
  margin: 20px;
  
}

.qual {
  color: #ebc24c;
  text-decoration-line: underline;
  text-shadow: 0.5px 0.5px #b4825d;
  padding-left: 15px;
  background-color: #7c4c73;
  border-top: 2px solid #9c6c6c;
  border-bottom: 2px solid #9c6c6c;
}

.list {
  font-family: Century gothic, sans-serif;
}

.work {
  color: #ebc24c;
  text-decoration-line: underline;
  text-shadow: 0.5px 0.5px #b4825d;
  padding-left: 15px;
  background-color: #7c4c73;
  border-top: 2px solid #9c6c6c;
  border-bottom: 2px solid #9c6c6c;
}

.start {
  padding-left: 10px;
}

footer{
  text-align: center;
  border-top: 3px solid #9c6c6c;
}
